body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0px;
    background-color: darkgray;
}

header {
    background: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header h1 {
    margin: 0;
    height: 80px;
    text-shadow: 4px 4px 4px gray;
}

h2{
color: darkgray;}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    border-style: solid;
    border-color: darkgray;
    padding: 15px;
    border-radius: 25px;

}

nav ul li a {
    color: darkgray;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
}


section {
    /* padding: 20px; */
    /* margin: 0 15px; */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: darkgray;
    position: relative;
    bottom: 0;
    width: 100%;
}

#gallery {
    text-align: center;
    /* padding: 20px; */
    /* margin: 50px; */
    /* background-color: #333; */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.image-grid img {
    width: 100%;
    height: 170px;
    border: 2px solid #f4f4f4;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);    
}

#content{
    padding-top: 150px;
    min-height: 75vh;
}

#highlight-nav{
    border-color: white;
}

#highlight-word{
    color: white;
    border-color: white;
    font-weight:bold ;
    text-decoration: underline;
}

.navbar{
    text-decoration: underline;
    border: 1px;
}

h2{
    background-color: gray;
    color: white;
    text-shadow: 4px 4px 4px black;
    text-align: center
}

.indent {
    padding-left: 50px;
    padding-right: 50px;
}
.listindent{
    padding-left: 75px;
    padding-right:75px
}